<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Download
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        {% unless sitepage.url == '/' or sitepage.url == '/404'  or sitepage.url == '/blog' %}
        <a class="navbar-item has-text-grey-light" href="https://amsacta.unibo.it/id/eprint/6876">Dataset Stereo</a>
        <a class="navbar-item has-text-grey-light" href="https://amsacta.unibo.it/id/eprint/7161">Dataset Mono</a>
        {% endunless %}
    </div>
</div>
