<section class="hero  has-text-centered" id="paper">
    <div class="hero-body">
        <div class="container">
          <h2 align="centered" class="title">PAPER</h2>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                  <br>
                  <br>
                  <br>
                  <a href="">
                  <img style="width:90%" src="assets/paper.png" >
                  </a>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

                    <br>
                    <div class="container columns is-centered">
                        <div>
                          <B><a href="">Open Challenges in Deep Stereo: the Booster Dataset</a><br><br></B>
                          <B><i>Pierluigi Zama Ramirez*, Fabio Tosi*, Matteo Poggi*, Samuele Salti, Stefano Mattoccia, Luigi Di Stefano</B></i>
                          <br>
                          <i>*Equal Contribution</i>
                          <br>
                          <br>
                          <p>
                            We present a novel high-resolution and challenging stereo dataset framing indoor scenes annotated with dense and accurate ground-truth disparities. 
                            Peculiar to our dataset is the presence of several specular and transparent surfaces, i.e. the main causes of failures for state-of-the-art stereo networks.
                            Our acquisition pipeline leverages a novel deep space-time stereo framework which allows for easy and accurate labeling with sub-pixel precision.
                            We release a total of 419 samples collected in 64 different scenes and annotated with dense ground-truth disparities. Each sample include a high-resolution pair (12 Mpx) as well as an unbalanced pair (Left: 12 Mpx, Right: 1.1 Mpx). Additionally, we provide manually annotated material segmentation masks and 15K unlabeled samples.  We evaluate state-of-the-art deep networks based on our dataset, highlighting their limitations in addressing the open challenges in stereo and drawing hints for future research.
                          </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>
                CITATION
                </h3>
                <div class="has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen form-group col-md-18 col-md-offset-0">
<pre>
@inproceedings{zamaramirez2022booster,
    title={Open Challenges in Deep Stereo: the Booster Dataset},
    author={Zama Ramirez, Pierluigi and Tosi, Fabio and Poggi, Matteo and Salti, Samuele and Di Stefano, Luigi and Mattoccia, Stefano},
    booktitle={Proceedings of the IEEE conference on computer vision and pattern recognition},
    note={CVPR},
    year={2022},
}
</pre>
                </div>
            </div>
            </div>  
        </div>
        </div>
</section>