<style>
  .title {
    font-size: 3rem;
  }
  @media screen and (max-width:600px) {
    .title {
      font-size: 2.3rem;
    }
  }

  .subtitle {
    font-size: 1.3rem;
  }
  @media screen and (max-width:600px) {
    .subtitle {
      font-size: 1rem;
    }
  }
</style>

<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <br>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
    </div>
  </div>
</section>