---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    
    <section class="hero has-text-centered has-background-white">
        <div class="hero-body">
            <div class="container">
                <br>
                <h1 class="title is-uppercase">
                    REGISTRATION
                </h1>
                <br>
                
                <p>
                    In order to register to the Booster online benchmark, you must write an email to <a href= "mailto:boosterbenchmark@gmail.com">boosterbenchmark@gmail.com</a> with:
                    <ul>
                        <li>- Email address you want to register</li>
                        <li>- Your name, affiliation and short bio</li>
                        <li>- Short description of the intended usage of the dataset</li>
                    </ul>
                </p>
            </div> 
        </div>
    </section>

    <section class="hero has-text-centered has-background-white-ter">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-uppercase">
                    SUBMISSION
                </h1>
                <br>
                <p>
                    In order to submit to the Booster online benchmark, you must compile the form here:
                    <br>
                    <br>
                    <a href= "https://docs.google.com/forms/d/e/1FAIpQLSe-IHH6FdD-GjWHgoNhgD7CabuJgK7GOhbJezWFUQ8MH9LBiw/viewform">https://docs.google.com/forms/d/e/1FAIpQLSe-IHH6FdD-GjWHgoNhgD7CabuJgK7GOhbJezWFUQ8MH9LBiw/viewform</a>
                    <br>
                    <br>
                    Please specify your registered email in the proper field. 
                    <br>
                    <b>Only submissions using a registered email will be processed.</b>
                    <br>
                    In the "Zip link" field, provide the URL to a Google Drive or OneDrive shared zip file.
                    <br>
                    Upon submission, you will receive a confirmation email.
                </p>

                <br>
                
                <p>
                <h2 class="title is-uppercase">SUBMISSION FILE FORMAT</h2>
                <br>
                The zip file submitted to our benchmark should have the following format, containing <b>Test</b> scenes only:
                <pre>
balanced/
    Balance/
        im0.png
        im1.png
        ...
    Barrel/
        ...
    ...

unbalanced/
    Balance/
        im0.png
        im1.png
        ...
    Barrel/
        ...
    ...</pre>

                Disparity map must be saved as 16 unsigned bit png files, storing disparities multiplied by a factor 64.
                <br>
                In case only one of the two main folders is present inside the zip file ("balanced" or "unbalanced"), the remaining will be discharded during evaluation.
                </p>
                <br>
                <h2 class="title is-uppercase">SUBMISSION RESULTS</h2>
                <br>
                <p>
                    You will receive a further email once the evaluation has been carried out (it might take a while, the evaluation is performed a few times per day).
                    <br>
                    If the evaluation has been succesful, the email will send you a confirmation form, asking if you will to make the results public or not.
                </p>
            </div> 
        </div>
    </section>

</body>


</html>